<section id="contenido" class="col" >
<!--    <div class="container-sm">
        
    </div>-->
    <div class="container text-center">
        <div class="row">
            <div class="col"><br><br></div>
        </div>
        <div class="row">
            <div class="col"><i class="icofont-news"></i></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h3>EggCooperation Noticias</h3>
                <br>
                <p>Ejercicios Práctico {Spring - MVC Security}</p>
                <p>Sistema de Gestión y Publicación de Noticias</p>
            </div>
            
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"><h5>FullStack - 2023</h5></div>
        </div>
        <div class="row">
            
            <p th:if="${modulo} == inicio">

                <a class="link-info" th:href="@{/registro}">Registrar </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<t> 
                <a class="link-info" th:href="@{/ingreso}">Ingresar </a>
            </li>
            
            
        </div>
    </div>
</section>