
<section id="contenido" class="row " >
    <div class="container-md">
        <h4>Noticias Registradas</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody th:each="usuario : ${usuarios}">
                <tr>
                    <th th:text=${usuario.id} scope="row"></th>
                    <td th:text=${usuario.nombre}></td>
                    <td th:text=${usuario.correo}></td>
                    <td>
                        <p th:if="${usuario.alta}" alt="Visible"><strong>👁</strong></p>
                        <p th:if="not ${usuario.alta}"><strong><strike>𓁼</strike></strong></p>
                        <p th:if="${usuario.alta}" alt="Visible"><strong>Contraseña</strong></p>
                    </td>
                    <td>
                        <!--                      <span style="display: inline-block; font-size: 24px; color: #000000; background: #cccccc; border-radius: 6px; padding: 10px 20px;">👁️</span>      <button type="button" class="btn btn-dark">Modificar</button>-->
                        <a th:href= "@{/usuario/modificacion/__${usuario.id}__}"><i class="fas fa-feather-alt" alt="Mofidicar">  </i> ✏️ </a>
                        <a th:href= "@{/usuario/modificacion/__${usuario.id}__}"><i class="fas fa-feather-alt" alt="Mofidicar">  </i> 🗑 </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</section>